<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <activity android:name="com.dandd.time.internal.alarmManagerListeners.PermissionRequestActivity" android:theme="@style/Theme.AppCompat.Dialog.Alert"/>
        <receiver android:name="com.dandd.time.internal.alarmManagerListeners.TimerExpiredReceiver" android:exported="false">
            <!-- If you have specific actions, add intent filters here -->
        </receiver>
        <receiver android:name="com.dandd.time.internal.alarmManagerListeners.BootCompletedReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.dandd.time.internal.notificationActivity.NotificationTargetActivity">
            <meta-data
                android:name="com.dandd.time.internal.NOTIFICATION_TARGET_ACTIVITY"
                android:value="com.dandd.time.internal.NotificationTargetActivity" />
        </activity>
    </application>

</manifest>